
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Shopping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>
      
      
      
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0"> -->
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['login']" >Login</button>&nbsp;&nbsp;
      <button class="btn btn-outline-warning my-2 my-sm-0" [routerLink]="['register']" >Register</button>&nbsp;&nbsp;
     <span class="border border-danger">
       {{prdSrv.cartProdArr.length}} 
       <a [routerLink]="['./cart']"
       ><img src="assets/productimages/cart.png" alt="..." class="rounded-circle" height="30" width="30">
       </a>
      </span>
      
      <!-- </form> -->
  </div>
</nav>


<router-outlet></router-outlet>


<footer class="page-footer font-small bg-dark">

  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3 ">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <br>
        
        <h6 class="text-uppercase text-white">Shopping Cart</h6><br>

        <p class="text-white">We sell different types of Mobiles  </p>

      </div>
  
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <br>
       
        <h6 class="text-uppercase text-white">Quick links</h6><br>
        <a class="text-white" routerLink="products">Products</a><br>
       <a class="text-white"routerLink="login">Login/Register</a>

  
      </div>


      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <br>
     
      <h6 class="text-uppercase text-white">Contact</h6><br>
      <p class="text-white"><i class="fa-fa-home" aria-hidden="true"></i>Pune Hadpsar </p>
     <p class="text-white">+ 91 8602543686 </p>


    </div>

    </div>
  </div>

 
  <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
    <a href="" class="text-white"> ShoppingCart.com</a>
  </div>
  

</footer>